.hero{
    text-align: center;
    margin: 20px;
    justify-content: center;
}
#buttons {
    color: #6f4f4f;
    background-color: #34CAEF;
    border: none;
}
#flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;}
body{
    background-color: #FFECA1;
    font-family: 'Libertinus Mono', monospace;

}